/*PROJECT CSS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";

$bright: #ffcb77;
$bright2: #fe6d73;
$main: #227c9d;
$main2: #17c3b2;
$light: #fef9ef;
$dark: #323031;
$greydark: #0c1e24;
$greylight: #e2e8f0;
$greylight2: #eff2f7;
$font: "Open Sans", sans-serif;
$border-radius: 5px;
body {
    align-items: center;
    background-color: $light;
    color: $dark;
    display: flex;
    flex-direction: column;
    font-family: $font;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.8em;
}
h6 {
    font-size: 0.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
header{
    color:$main;
}
.board{
    background-color: $light;
    display: grid;
    gap:2px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 400px;
    width: 400px;
    .cell{
        background-color: $main2;
        &:hover{
            background-color: lighten($main2,20%);
            cursor:pointer
        }
    }
}
.scores{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.controls{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
button{
    background-color: $main;
    border:none;
    border-radius: $border-radius;
    color:white;
    font-weight: bold;
    padding:15px 20px;
    &:hover{
        background-color: lighten($main,20%);
        cursor:pointer
    }
}
footer{
    padding: 20px;
}
@media only screen and (max-width: 700px) {
   
}
@media only screen and (max-width: 500px) {
    
}
@media only screen and (max-width: 400px) {
   
}
@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1920px) {
}
