/*PROJECT CSS*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";

$bright: #ffcb77;
$bright2: #fe6d73;
$main: #2ca124;
$main2: #17c3b2;
$light: #faf4e8;
$dark: #323031;
$greydark: #0c1e24;
$greylight: #e2e8f0;
$greylight2: #eff2f7;
$font: "Comfortaa", cursive;
$border-radius: 5px;
$cell-size: 100px;
$mark-size: calc($cell-size * 0.9);
$mark-x: "\00d7";
$mark-o: "\2B58";
$fwb:700;
body {
    align-items: center;
    background-color: $light;
    color: $dark;
    display: flex;
    flex-direction: column;
    font-family: $font;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
    font-weight: $fwb;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.8em;
}
h6 {
    font-size: 0.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
header {
    color: $main;
}
#game-status {
    line-height: 18px;
    margin-bottom: 10px;
    text-align: center;
}
.board {
    align-content: center;
    background-color: $light;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, auto);

    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    &.overlay::before {
        align-items: center;
        background-color: rgba($main2, 0.8);

        color: white;
        content: attr(data-overlay-content);
        display: flex;
        font-weight: bold;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    &.o {
        .cell:not(.x):hover {
            background-image: url("#{$assetsPath}croco.svg");
            opacity: 0.5;
        }
    }
    &.x {
        .cell:not(.o):hover {
            background-image: url("#{$assetsPath}hippo.svg");
            opacity: 0.5;
        }
    }
    .cell {
        align-items: center;
        background-color: $main2;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        display: flex;
        font-size: $mark-size;
        font-weight: bold;
        height: $cell-size;
        justify-content: center;
        width: $cell-size;
        &:hover {
            background-color: lighten($main2, 20%);
            cursor: pointer;
        }
        &.o {
            background-image: url("#{$assetsPath}croco.svg");
        }
        &.x {
            background-image: url("#{$assetsPath}hippo.svg");
        }
    }
}
.scores {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    & > div {
        align-items: center;
        display: inline-flex;
        font-weight: bold;
        gap: 5px;
        justify-content: space-between;
        vertical-align: middle;
        img {
            display: inline-block;
            transform: scale(-1, 1);
        }
    }
}
.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
button {
    background-color: $main;
    border: none;
    border-radius: $border-radius;
    color: white;
    font-family: $font;
    font-weight: bold;
    padding: 15px 20px;
    &:hover {
        background-color: lighten($main, 20%);
        cursor: pointer;
    }
}
footer {
    padding: 20px;
}
@media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1920px) {
}
