/*PROJECT CSS*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
  align-items: center;
  background-color: #fef9ef;
  color: #323031;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

header {
  color: #2ca124;
}

#game-status {
  text-align: center;
}

.board {
  align-content: center;
  background-color: #fef9ef;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}
.board.overlay::before {
  align-items: center;
  background-color: rgba(23, 195, 178, 0.8);
  color: white;
  content: attr(data-overlay-content);
  display: flex;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.board.o .cell:not(.x):hover {
  background-image: url("../images/croco.svg");
  opacity: 0.5;
}
.board.x .cell:not(.o):hover {
  background-image: url("../images/hippo.svg");
  opacity: 0.5;
}
.board .cell {
  align-items: center;
  background-color: #17c3b2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  display: flex;
  font-size: 90px;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  width: 100px;
}
.board .cell:hover {
  background-color: #55ebdc;
  cursor: pointer;
}
.board .cell.o {
  background-image: url("../images/croco.svg");
}
.board .cell.x {
  background-image: url("../images/hippo.svg");
}

.scores {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.scores img {
  display: inline-block;
  transform: scale(-1, 1);
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  background-color: #2ca124;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  padding: 15px 20px;
}
button:hover {
  background-color: #5bd853;
  cursor: pointer;
}

footer {
  padding: 20px;
}
