/*PROJECT CSS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  align-items: center;
  background-color: #fef9ef;
  color: #323031;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

header {
  color: #227c9d;
}

#game-status {
  text-align: center;
}

.board {
  align-content: center;
  background-color: #fef9ef;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, auto);
  height: 70vh;
  justify-content: center;
  width: 70vh;
}
.board.o .cell:not(.x):hover {
  background-image: url("../images/o.svg");
  opacity: 0.5;
}
.board.x .cell:not(.o):hover {
  background-image: url("../images/x.svg");
  opacity: 0.5;
}
.board .cell {
  align-items: center;
  background-color: #17c3b2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  display: flex;
  font-size: 90px;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  width: 100px;
}
.board .cell:hover {
  background-color: #55ebdc;
  cursor: pointer;
}
.board .cell.x {
  background-image: url("../images/x.svg");
}
.board .cell.o {
  background-image: url("../images/o.svg");
}

.scores {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  background-color: #227c9d;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
}
button:hover {
  background-color: #4db3d8;
  cursor: pointer;
}

footer {
  padding: 20px;
}
